#App {
  text-align: center;
}

#login-card{
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  
  #login-card{
    display: block;
  }

}